.DS_Store
**/.DS_Store
**/__pycache__
spf/data
**/*.npy
**/*.zip
**/*.pth
test_data.zip
test_data_dl.zip
test_data.txt
.ipynb_checkpoints
**/.ipynb_checkpoints
**/*.log
**/*spf-run*
**/token
**/session_output_*.png
**/*2024*.yaml
**/tmp_*
*.tmp
**/*.tmp
**/mav.*
**/testdata*
**/temp
**/sessions*
**/*.chkpnt
**/*.mdb
**/spf_env
wandb
