.DS_Store
**/.DS_Store
**/__pycache__
spf/data
**/*.npy
**/*.zip
test_data
test_data.zip
test_data_dl.zip
test_data.txt
.ipynb_checkpoints
**/.ipynb_checkpoints
**/*.pkl
**/*.log
**/token
**/session_output_*.png
**/*2024*.yaml
**/tmp_*
*.tmp
**/*.tmp
**/mav.*
**/testdata*
**/temp