certifi==2023.5.7
charset-normalizer==3.1.0
complexPyTorch==0.4
compress-pickle==2.1.0
contourpy==1.0.7
cycler==0.11.0
filelock==3.12.0
fonttools==4.39.4
idna==3.4
imageio==2.31.1
isort==5.12.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.3
llvmlite==0.40.1rc1
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numba==0.57.0
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
portalocker==2.7.0
pyadi-iio @ file:///Users/miskodzamba/Dropbox/research/gits/pyadi-iio
pylibiio @ file:///Users/miskodzamba/Dropbox/research/gits/libiio/build/bindings/python
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
requests==2.31.0
scikit-image==0.21.0
scipy==1.10.1
six==1.16.0
sympy==1.12
tifffile==2023.7.4
torch==2.0.1
torchdata==0.6.1
torchtext==0.15.2
torchvision==0.15.2
tqdm==4.65.0
typing_extensions==4.6.3
urllib3==2.0.2
