[Unit]
Description=Run mavlink controller
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/
User=pi
Group=pi
Environment=PYTHONPATH=/home/pi/spf/
ExecStart=/home/pi/spf/data_collection/rover/rover_v3.1/drone_run.sh

[Install]
WantedBy=multi-user.target